<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Yo</h1>
    <form action="process" method="post">
        <div>
            <label for="Name">Name</label>
            <input type="text" name="Name" id="Name">
        </div>
        <div>
            <label for="Species">Species</label>
            <input type="text" name="Species" id="Species">
        </div>
        <div>
            <label for="Age">Age</label>
            <input type="number" name="Age" id="Age">
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</body>
</html>