<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Yo</h1>
    <form action="process" method="post">
        <div>
            <label for="Name">Your Name: </label>
            <input type="text" name="Name" id="Name">
        </div>
        <div>
            <label for="Dojo">Dojo Location: </label>
            <select name="Dojo" id="Dojo">
                <option selected disabled>Select an Option</option>
                <option value="Online">Online</option>
                <option value="Chi Town">Chi Town</option>
            </select>
        </div>
        <div>
            <label for="Language">Favorite Language: </label>
            <select name="Language" id="Language">
                <option selected disabled>Select an Option</option>
                <option value="Javascript">Javascript</option>
                <option value="Python">Python</option>
                <option value="C#">C#</option>
            </select>
        </div>
        <div>
            <label for="Comment">Comment (optional): </label><br>
            <textarea name="Comment" id="Comment" cols="30" rows="10"></textarea>
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</body>
</html>