@{
    ViewData["Title"] = "Home Page";
}

@model User

<div class="text-center">
    <form action="process" method="post">
        <div class="form-group">
            <label for="Name">Name</label>
            @* <input type="text" name="Name" id="Name" class="form-control"> *@
            @* //can replace all of those with asp-for the thing *@
            <input asp-for="Name" class="form-control">
            @* //use this to show errors *@
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="FavColor">FavColor</label>
            <input asp-for="FavColor" class="form-control">
            <span asp-validation-for="FavColor" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="FavNumber">FavNumber</label>
            <input asp-for="FavNumber" class="form-control">
            <span asp-validation-for="FavNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-info">
        </div>
    </form>
</div>
