@model Dish

<div class="text-center">
    <h2>Add a Dish</h2>
    <form action="/dish/add/process" method="post" class="row">
        <div class="col">
            <div class="form-group">
                <label for="Name">Name of Dish</label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Calories"># of Calories</label>
                <input asp-for="Calories" class="form-control">
                <span asp-validation-for="Calories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Description">Description</label>
                <input asp-for="Description" class="form-control">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div> 
        <div class="col">
            <div class="form-group">
                <label for="ChefId">Chef</label>
                <select asp-for="ChefId" class="form-control">
                    @foreach (Chef c in ViewBag.Chefs)
                    {
                    <option value="@c.ChefId">@c.FirstName @c.LastName</option>
                    }
                </select>
                <span asp-validation-for="ChefId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Tastiness">Tastiness</label>
                <select asp-for="Tastiness" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <span asp-validation-for="ChefId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Dish" class="btn btn-info">
            </div>
        </div>
    </form>
</div>