@{
    ViewData["Title"] = "Home Page";
}

@model Chef

<div class="text-center">
    <div class="row justify-content-md-center">
        <div class="col-11">
            <div class="row justify-content-center">
                <h1 class="col-2">Chefs</h1>
                <a href="/dishes/show" class="col-2"><h1>Dishes</h1></a>
                <h5>Check out these chefs</h5>
            </div>
        </div>
        <a href="/chef/add" class="col-1 align-self-center">Add a Chef</a>
    </div>
    
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th># of Dishes</th>
        </tr>
        @foreach (Chef c in ViewBag.Chefs)
        {
            int Age = DateTime.Now.Year - c.DOB.Year;
            <tr>
                <td>@c.FirstName @c.LastName</td>
                <td>@Age</td>
                <td>@c.ChefDishes.Count</td>
            </tr>
        }
    </table>
</div>
