@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>First eruption in Chile</h2>
    <h3>@ViewBag.firstChile</h3>

    <h2>First eruption in Hawaii</h2>
    @if(ViewBag.firstHawaiian == null){
        <h3>No Hawaiian is eruption found</h3>
        }else{
        <h3>@ViewBag.firstHawaiian</h3>
        }
</div>
