@{
    ViewData["Title"] = "Home Page";
}

@model Dish

<div class="text-center">
    <h2>Yooo, You Want Some CRUD?!</h2>
    <h3>Check out these BOMB dishes</h3>
    @foreach (Dish d in ViewBag.AllDishes)
    {
        <p>@d.Name by @d.Chef</p>
    }
    <a href="/new/dish">Add a Dish</a>
</div>
