@{
    ViewData["Title"] = "Home Page";
}

@model Dish

<div class="text-center">
    <h2>Yooo, You Want Some CRUD?!</h2>
    <h3>Check out these BOMB dishes</h3>
    <a href="/new/dish">Add a Dish</a>
    @foreach (Dish d in ViewBag.AllDishes)
    {
        <p><a href="/dish/show/@d.DishId">@d.Name</a>by @d.Chef</p>
    }
    
</div>
