@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" id="count">Random passcode (passcode @Context.Session.GetInt32("Count"))</h1>
    <input type="text" class="form-control" value='@Context.Session.GetString("Result")' id="passcode">
    <a href="passcode"><button class="btn btn-info" id="btn" onclick="call()"> Show Me the Money </button></a>
</div>
